body{
    background-color: #282c34;
}

h4 {
    color: black;
}

p {
    font-size:1em;
    padding-top:10px;
    color: black;
}

#container{
    background-color: #fdf084 ;
    border: 2px solid #fdf084  ;
    width:50%;
    min-height:300px;
    margin: auto;
}

.list ul li{
    color: black;
    display: block;
    text-align:left;
}

li{
    list-style-type:circle;
}

