body{
    background-color: black;
}

h4 {
    color: #c1f0c1;
}

#container{
    background-color: #fdf084 ;
    border: 2px solid #fdf084 ;
    width:40%;
    height: auto;
    margin: auto;
    padding-bottom:20px;
    box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}

textarea{
    width: 80%;
    min-height: 100px;
}