a {
  color: white;
  text-decoration: none;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited{
  color: white;
  text-decoration: none;
}

a:hover {
  color: grey;
  text-decoration: none;
}

a:active {
  color: white;
  text-decoration: none;
}

ul li{
  text-align:center;
  margin:auto;
  display:inline;
}

li{
  padding-right: 40px;
}

body {
  height: 100%;
  text-align: center;
  background: rgb(2,0,36);
  background: linear-gradient(53deg, rgba(2,0,36,1) 44%, rgba(249,233,27,1) 91%) fixed;
}

h1 {
  color: #fdf084
}

h2{
  color: white;
  padding-top: 20px;
}
